#header, .burgerNavIcon_container, .controlButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header {
    grid-area: 1/1/2/4;
    justify-content: space-between;
}
#logo {
    width: 30%;
}
#logo img {
    width: 50%;
}
.headerNav {
    width: 40%;
}
.burgerNavIcon_container {
    justify-content: space-around;
}
.controlButton {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border: none;
    justify-content: center;
}
.controlButton svg {
    color: var(--second-color);
    font-size: 2.8em;
}